<% provide(:title, 'Contact') %>
<div style="background-image: url('/assets/contact-background.jpg');position:absolute;right:0;left:0;bottom:0;top:0;z-index:-12">
</div>
<div style="opacity:.9; width:610px; margin:0 auto;">
  <div class="well paper-shadow" style="margin-top:100px;">
		<h1>Contact Us!</h1><br/>
		<p class="lead">
			We need your advices and feedback.
		</p>
		<p>
			We will be <b>happy</b> to hear your thoughts.
			Please contact us and share your opinion.
		</p><br/>
		<%= render 'messages/contact_form' %>
	</div>
</div>
