<div id="1" class="full-screen">
  <div class="hero">
    <h1 class="text-center">Locate My Stickers</h1>
    <div style="margin: 20px auto; margin-top:40px; width:300px">
      <%= image_tag 'lmslogo_400.png' %>
    </div>
    <div style="margin: 0px auto; margin-top:-170px;margin-bottom:100px; width:205px; height: 135px;">
      <%= link_to "Sign up now!", signup_path,
      class: "btn-default btn-large btn-primary sign-up-btn" %>
    </div>
    <h2 class="text-center">
      We locate stickers.
    </h2>
  </div>
</div>
<div id="2" class="full-screen">
  <div style="background-image: url('/assets/contact-background.jpg');position:absolute;right:0;left:0;bottom:0;top:0;z-index:-12">
  </div>
</div>
