<div id="messages">
  <% @conversations.each do |subject, conversation| %>
	<%
			from_user = User.find(conversation.first.from_user_id)
			with_user = User.find(conversation.first.user_id)
	%>
    <%= render 'conversation', subject: subject, conversation: conversation, from_user: from_user, with_user: with_user %>
  <% end %>
</div>
