<% provide(:title, @title) %>

<div class="container-fluid page-content">
  <%= render 'shared/server_stats_header' %>
  <div id="messages-list" style="position:relative;top:-250px"></div>
  <h1><%= @title %></h1>
  <%= render 'form', from: current_user.id, to: params[:user_id] %>
</div>

<!-- Sidebar Fixed left -->
<% content_for :sidebar do %>
  <%= render 'users/friends', user: @user %>
<% end %>
