<% provide(:title, 'Web sockets') %>
<div id="1" class="full-screen">
  <div class="hero fullscreen-content">
  <div id="page-wrapper">
    <h1>WebSockets Demo</h1>

    <div id="status">Connecting...</div>

    <ul id="messages" style="height: 200px; max-height: 200px; margin: 50px; overflow: scroll; overflow-x:hidden; overflow-y:hidden;"></ul>

    <form id="message-form" action="#" method="post">
      <p><textarea id="message" placeholder="Write your message here..." required></textarea></p>
      <p><button type="submit" class='btn btn-primary'>Send Message</button></p>
      <p><button type="button" id="close" class="btn btn-primary">Close Connection</button></p>
    </form>

  </div>
</div>
</div>
