<% complement = complement ||= "" %>

<%= render 'shared/search_navbar_top', models: stickers, complement: complement %>
<div id="<%= complement %>stickers" class="row-fluid">
	<%= render 'stickers/stickers', stickers: stickers %>
</div>
<%= render 'shared/search_navbar_bottom', models: stickers, complement: complement %>
