<% provide(:title, 'Stickers') %>
<div class="container-fluid page-content">
  <div class="row-fluid">
		<h1>Stickers</h1>
		<%= render 'shared/form_search' %>
		<%= render 'stickers/stickers_table', stickers: @stickers, user: @user %>
  </div>
</div>

<!-- Sidebar Fixed left -->
<div class="sidebar">
	<%= link_to 'New Sticker', new_user_sticker_path(@user), class: 'btn btn-large btn-primary' %>
</div>
