<<<<<<< HEAD
<div class="sticker-minimap">
	<%= gmaps("polylines"   => { "data" => @polylines_json },
							"markers"   => { "data" => @markers_json })
	 %>
=======
<div class="sticker-minimap">
	<%= gmaps("polylines"   => { "data" => @polylines_json },
							"markers"   => { "data" => @markers_json })
	 %>
>>>>>>> edf51d1cf5dfe30c5034d6831d78559facb46714
</div>