<% provide(:title, 'Register sticker') %>
<div style="background-image: url('/assets/contact-background.jpg');position:absolute;right:0;left:0;bottom:0;top:0">
</div>
<div style="opacity:.9; width:610px; margin:0 auto;">
  <div class="well paper-shadow" style="margin-top:100px;">
		<h1>Register sticker</h1><br/>
		<p class="lead">
			Register your sticker here.
		</p>
		<p>
		<%= render 'form_new' %>
		<%= link_to 'Back', user_stickers_path(@user) %>
	</div>
</div>
