<% provide(:title, 'Your friends') %>

<% content_for :sidebar do %>
  <%= render 'friends', user: @user %>
  <h3>Navigate</h3>
  <ul id="sidebar-nav" class="nav nav-list">
    <li class=""><a href="#friends-list" class="friends-list">Friends list</a></li>
  </ul>
<% end %>

<div class="page-content">
	<%= render 'user_info_header', user: @user %>
  	<div id="friends-list"></div>
	<% if @users.any? %>
		<%= render 'users/users_thumbnails', users: @users %>
		<div class="clear-both"></div>
	<% else %>
		<div class="well well-padding paper-shadow">
			<%= render 'users/no_friends', user: @user %>
		</div>
	<% end %>
</div>
