<% provide(:title, 'All users') %>


<div class="page-content">
	<%= render 'shared/server_stats_header' %>
	<div id="users-list"></div>
	<%= render 'users/users_thumbnails', users: @users %>
</div>

<!-- Sidebar Fixed left -->
<div class="sidebar well">
	<h3>Navigate</h3>
	<ul id="sidebar-nav" class="nav nav-list">
		<li class=""><a href="#users-list" class="users-list">Users list</a></li>
	</ul>
</div>
