<div class="well well-padding paper-shadow" style="height:100%">
  <%= gmaps("polygons" => { "data" => @polygons_json}) %>
  <div id="map-options-panel" class="show-on-hover">
    <a class="resize-button btn" href='#'>Expand</a>
  </div>
</div>
