<%= render 'shared/search_navbar_top', models: @histories %>
<div id="histories" class="row-fluid">
	<%= render 'histories' %>
</div>
<%= render 'shared/search_navbar_bottom', models: @histories %>
