<% provide(:title, 'New zone') %>
<div class="container-fluid user-info">
  <div class="page-header-back"></div>
  <div class="row-fluid">
    <%= render 'users/user_info', user: @user, span_size: 12 %>
  </div>
</div>

<div class="container-fluid page-content-with-header">
  <div id="user-stickers" class="row-fluid">
    <div id="new" style="position:relative;top:-240px"></div>
    <div id="stickers" class="well well-padding paper-shadow">
			<%= render 'form' %>

			<%= link_to 'Back', user_sticker_zones_path(@user, @sticker) %>
    </div>
  </div>
</div>

<!-- Sidebar Fixed left -->
<div class="sidebar">
  <h3>Navigate</h3>
  <ul id="sidebar-nav" class="nav nav-list affix" data-offset-top="200px">
    <li><a href="#new">New</a></li>
  </ul>
</div>
