<div class="container-fluid page-content">
	<h1>Editing post</h1>
	<div class="well well-padding paper-shadow">
		<%= render 'form' %>
	</div>
</div>


<!-- Sidebar Fixed left -->
<div class="sidebar-no-header">
  <h3>Tools</h3>
	<ul id="sidebar-nav">
		<li><%= link_to 'Show', @post %></li>
		<li><%= link_to 'Back', posts_path %></li>
  	</ul>
</div>

