<h1>Editing sticker_configuration</h1>

<%= render 'form_edit' %>

<%= link_to 'Show', user_sticker_sticker_configuration_path(@user, @sticker, @sticker_configuration) %> |
<%= link_to 'Back', user_sticker_sticker_configurations_path(@user, @sticker) %>
