<% provide(:title, 'Sticker Configurations') %>

<%= render 'sticker_configurations_list_tool' %>

<% content_for :topnav do %>
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %> / </li>
    <li class="active">Sticker configurations</li>
  </ol>
<% end %>

