#map img { 
  max-width: none;
}

#map label { 
  width: auto; display:inline; 
}

.map-row {
  padding: 10px;
  margin-bottom: 30px;
}

.sticker-minimap {
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
}

.map-row h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

#maps-info-box {
  p {
    font-size: 0.8em;
    line-height: 1.0em;
  }
}

.map_container {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: auto;
  height: 100%;
  p {
    font-size: 0.1em;
    line-height: 0.8em;
    color: inherit;
  }
}

.gmaps4rails_map {
  height: 100%;
  p {
    font-size: 0.6em;
    font-weight: 200;
    line-height: 0.8em;
    color: inherit;
  }
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}

#map label { width: auto; display:inline; background: none; }
#map img { max-width: none; }
#mapCanvas label { width: auto; display:inline; }
#mapCanvas img { max-width: none; }

#map-options-panel {
  position: absolute;
  top: 30px;
  left: 100px;
  z-index: 1;
}
