
        <header>
            <div class="brand">
                <!--Live GoPro, later implement all api possibilities: elevations, -->
                <h1>LocateMy<s>Stickers</s></h1>
            </div>
            
            <div id="main_buttons">
                <div class="left">
                    <a href="<%= user_path(current_user.id) %>">
                        <div id="me_button" class="button"></div>
                    </a>
                </div>

                <div class="right">
                    <div id="search_button" class="button">
                        <a class="icon-search icon"></a>
                        <input placeholder="SEARCH" />
                    </div><div id="friends_button" class="button">
                        <a class="icon-friend icon"></a>
                        <h2>Friends</h2>
                    </div><div id="stickers_button" class="button">
                        <a class="icon-sticker icon"></a>
                        <h2>Stickers</h2>
                        <i class="icon-notification icon">4</i>
                    </div>
                </div>
            </div>
            <!--div id="login_wrap" class="right">
                <input placeholder="Your mail"></input>
                <input placeholder="******"></input>
            </div-->
        </header>
        <div id="friends_list">

        </div>
        <div id="first_actions" class="wrapper_big wrapper_cube">
            <div class="cube">
                <div id="get_started" class="front">
                    <h1 class="hidden">Get Started</h1>
                    <div id="map_canvas"></div>

                    <div id="stickers_list">
                        <div id="loading_stickers" class="spinner"></div>
                    </div>
                </div>

                <!--div id="understand_layout" class="up">
                    <h1>Okay, next !</h1>
                </div>

                <div id="no_sticker_yet" class="hidden">
                    <div class="get box_action">
                        <h1>Get</h1>
                        <i class="icon"></i>
                    </div>
                    <div class="add box_action">
                        <h1>Add</h1>
                        <i class="icon">+</i>
                    </div>
                    <div class="use box_action">
                        <h1>Use</h1>
                        <i class="icon"></i>
                    </div>
                </div>

                <div id="get_sticker" class="hidden">
                    <div class="buy box_action">
                        <h1>1</h1>
                        <i class="icon"></i>
                        <p>Just to try</p>                    
                    </div>
                    <div class="buy box_action">
                        <h1>5</h1>
                        <i class="icon"></i>
                        <p>Perfect starting kit</p>
                    </div>
                    <div class="buy box_action">
                        <h1>More </h1>
                        <i class="icon"></i>
                        <p>I love it, i want more !</p>
                    </div>
                </div>

                <div id="add_sticker" class="hidden">
                    <div class="add input_id box_action">
                        <h1>id</h1>
                        <div style="height:130px">
                            <input placeholder="Type your ID"></input>
                        </div>
                        <p>Behind your sticker</p>                    
                    </div>
                    <div class="add scan_qr box_action">
                        <h1>Scan</h1>
                        <i class="icon"></i>
                        <p>Use your webcam, or phone</p>
                    </div>
                    <div class="add add_friends box_action">
                        <h1>Friends</h1>
                        <i class="icon"></i>
                        <p>Request access to friends </p>
                    </div>
                </div-->
            </div>
        </div>
        <%= yield :scripts %>
        <audio id="music_visit" controls style="display:none">
            <source src="/assets/audio/decouverte.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        